<!DOCTYPE html>
<html>
    <head>
        <title>Meter Usage</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    </head>
    <body>
        <form id='dates' action="/get-data">
            <h1>Get Meter Usage Values </h1><br>
            <h2>Select a start and end date between January 1st 2019 and January 31st 2019 </h2><br>
            Start:
            <input type="date" name="start_date"><br>
            End:
            <input type="date" name="end_date"><br>
            <input type="submit">
        </form>
        <img src={{img_url}}>
    </body>
</html>